<div class="container mb-3">
  <div class="row">
    <div class="col-xs-12">
      <h2>Les Appareils</h2>

      <input type="text" class="form-control" placeholder="Appareil" />

      <button class="btn btn-secondary my-3">
        <i class="fa fa-plus"></i>
      </button>

      <ul class="list-group">

        @for (appareil of appareils; track appareil.id; let i = $index) {
        <app-appareil [appareil]="appareil" [indice]="i">
        </app-appareil>
        }

      </ul>
      <br />
      <button class="btn btn-success">ALL ON</button>

      <button class="ml-2 btn btn-danger">ALL OFF</button>
    </div>
  </div>
</div>