<div class="container mb-3">
  <div class="row">
    <div class="col-4">
      <h2>Les Appareils</h2>

      <input type="text"
      [value]="nom()" (input)="nom.set($any($event.target).value)"
      class="form-control" placeholder="Appareil" />

      <button (click)="onAjouter()" class="btn btn-secondary my-3">
        <i class="fa fa-plus"></i>
      </button>

      <ul class="list-group">

        @for (appareil of appareils; track appareil.id; let i = $index) {
        <app-appareil [appareil]="appareil" [indice]="i">
        </app-appareil>
        }

      </ul>
      <br />
      <button 
        (click)="onSwitchAll(true)"
      class="btn btn-success me-3">ALL ON</button>

      <button 
       (click)="onSwitchAll(false)"
      class="ml-2 btn btn-danger">ALL OFF</button>
    </div>
  </div>
</div>